<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SelfSizeTextView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA56B24F1DB3DD8700F828C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA56B2631DB3DD8700F828C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA56B26E1DB3DD8700F828C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
